# Directories
Include/
Lib/
Scripts/
src/static/
src/secret/

# Specific Files
pip-selfcheck.json
pyvenv.cfg

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# compiled python
*.pyc