<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<title> zoilo.me </title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% include 'snippets/css.html' %}
	</head>
	<body>
		{% include 'snippets/menu.html' %}
		<section id="home" style="background: none">
			<div class="container-fluid">
				<div class="row">
					{% include 'snippets/home.html' %}
				</div>
			</div>
		</section>
		<section id="projects">
			<div align="center" class="row">
				<div class="col-md-12">
					<p>Putting some stuff in here about projects</p>
				</div>
			</div>
		</section>
		<section id="about">
			<div align="center" class="row">
				<div class="col-md-12">
					<p>Putting some stuff in here about me</p>
				</div>
			</div>
		</section>
		{% include 'snippets/js.html' %}
	</body>
</html>