<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<title> zoilo.me </title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% include 'snippets/css.html' %}
	</head>
	<body>
		{% include 'snippets/menu.html' %}
		<section id="home">
			<div class="container-fluid">
				{% include 'snippets/home.html' %}
			</div>
		</section>
		<section id="projects">
			<div class="container-fluid">
				{% include 'snippets/projects.html' %}
			</div>
		</section>
		<section id="about">
			<div class="container-fluid">
				{% include 'snippets/about.html' %}
			</div>
		</section>
		{% include 'snippets/js.html' %}
	</body>
</html>