<div class="row justify-content-center">
	<div class="col-12" align="center">
		<h1>About Me</h1>
	</div>
	<div class="col-12 links" align="center">
		<a href="https://www.linkedin.com/in/zmercedes/">
	  		<img src="static/linkedin-white.png" alt="linkedin" width="42" height="42">
		</a>
		<a href="https://github.com/zmercedes/">
	  		<img src="static/github-white.png" alt="github" width="42" height="42">
		</a>
		<a href="https://medium.com/@zmercedes">
	  		<img src="static/medium-white.png" alt="github" width="42" height="42">
		</a>
	</div>
	<br>
	<img src="static/zoilo.jpg" class="rounded" alt="Zoilo Pic" width="400" height="400">
	<br>
	<div class="col-12 col-md-7" style="font-size: 120%">
		<p>Zoilo is a self starting, curious, detail-oriented individual from the Bronx, New York with a bachelor's degree in Computer Science from Hunter College.</p>
		<p>Fascinated with all things VR/AR/MR and video game development/design, Zoilo tinkers away at projects on Unity and other game engines in order to make quality games and experiences.</p>
		<p>Zoilo has the following game design influences: The Legend of Zelda, Pokemon, Overwatch, Warcraft, Bioshock, Metroid Prime, as well as rogue-like indie games, such as Dungeon Souls and Dead Cells. These are just some influences, as Zoilo has a long history of playing video games.</p>
		<p>Zoilo enjoys programming and currently teaches programming and game design at Manhattan Youth, an afterschool program. His favorite code editor is Sublime Text, and can be often found using C++,C#, or python across his projects.</p>
		<p>When not programming, Zoilo can be found playing a video game, reading a book or comic, catching up on world news, or looking for their next project.</p>
		<p>Zoilo is also interested in the intersections of social justice and technology, as well as machine learning and software engineering.</p>
	</div>
</div>