<div class="row justify-content-center">
	<div class="col-12" align="center">
		<h1>About Me</h1>
	</div>
	<div class="col-3">
		<img src="..." alt="Zoilo Pic">
	</div>
	<div class="col-12 col-md-6">
		<h5>
			<p>Zoilo is a self starting, curious, detail-oriented individual from the Bronx, New York with a bachelor's degree in Computer Science from Hunter College.</p>
			<p>Fascinated with all things VR/AR/MR and video game development/design, Zoilo tinkers away at projects on Unity and other game engines in order to make quality games and experiences.</p>
			<p>Zoilo has the following game design influences: The Legend of Zelda, Pokemon, Overwatch, Bioshock, Metroid Prime, as well as rogue-like indie games, such as Dungeon Souls and Dead Cells. These are just some influences, as Zoilo has a long history of playing video games.</p>
			<p>When not coding, Zoilo can be found playing a video game, reading a book or comic, catching up on world news, or looking for the next project.</p>
			<p>Zoilo is also interested in the intersections of social justice and technology, as well as machine learning and software engineering.</p>
		</h5>
	</div>
</div>