<div class="row justify-content-center">
	<div class="col-12 col-md-6" align="center">
		<div class="transbox">
			<h1>Welcome!</h1>
			<p style="font-size: 120%">In this page, you will find information about programming projects made by Zoilo Mercedes. You can use the navigation up top for quick links.</p>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-6 col-md-3" align="center">
		<div class="transbox">
			<h3>View</h3>
			<a class="btn btn-light btn-lg font-weight-bold text-light" href="#projects" style="background: transparent;">
				Projects
			</a>
		</div>
	</div>
	<div class="col-6 col-md-3" align="center">
		<div class="transbox">
			<h3>Read</h3>
			<a class="btn btn-light btn-lg font-weight-bold text-light" href="#about" style="background: transparent;">
				About Me
			</a>
		</div>
	</div>
</div>