<div class="left" style="width: 200">
	<div class="transbox">
		<div class="dropdown show" align="center">
		  <a class="btn btn-light btn-lg dropdown-toggle text-light font-weight-bold" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: transparent;">
		    zoilo.me(rcedes)
		  </a>
		  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
		    <a class="dropdown-item scroll-link" href="#home" data-id="home">home</a>
		    <a class="dropdown-item scroll-link" href="#projects" data-id="projects">projects</a>
		    <a class="dropdown-item scroll-link" href="#about" data-id="about">about me</a>
		    <a class="dropdown-item scroll-link" href="#">under construction</a>
		  </div>
		</div>
	</div>
</div>