<div class="row justify-content-center justify-content-sm-start sticky-top mx-0">
	<div class="col-12 col-sm-4">
		<div class="transbox">
			<div class="dropdown show" align="center">
			  <a class="btn btn-light btn-lg btn-block dropdown-toggle btn-responsive text-light font-weight-bold" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: transparent;">
			    zoilo.me
			  </a>
			  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
			    <a class="dropdown-item scroll-link" href="#home">home</a>
			    <a class="dropdown-item scroll-link" href="#projects">projects</a>
			    <a class="dropdown-item scroll-link" href="#about">about me</a>
				<a class="dropdown-item scroll-link" href="https://www.linkedin.com/in/zmercedes/" target="_blank">
				  	<img src="static/linkedin-black.png" alt="linkedin" width="42" height="42">
				</a>
				<a class="dropdown-item scroll-link" href="https://github.com/zmercedes/" target="_blank">
				  	<img src="static/github-black.png" alt="github" width="42" height="42">
				</a>
				<a class="dropdown-item scroll-link" href="https://medium.com/@zmercedes" target="_blank">
				  	<img src="static/medium-black.png" alt="medium" width="42" height="42">
				</a>
				<a class="dropdown-item scroll-link" href="mailto:zmercedes89@gmail.com" target="_blank">
				  	<img src="static/gmail-black.png" alt="gmail" width="42" height="42">
				</a>
			  </div>
			</div>
		</div>
	</div>
</div>