<div class="row justify-content-center">
	<div class="col-9" align="center">
		<h1>Projects</h1>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-12 col-lg-6">
		<div class="alert alert-secondary" role="alert">
			<div class="row justify-content-center">
				<img src="static/VRP.jpg" class="project" alt="VRP" title="Scene from project" width="150" height="150">
				<div class="col-12 col-md-7">
					<h5>VR Puzzler</h5>
					<p>Created a Simon-Says-Like VR experience to demonstrate understanding of special design considerations in VR. Project made as part of Udacity VR Nanodegree using Unity3D and Google VR. All assets used were obtained from Udacity or the internet. Designed by Zoilo. Programming by Udacity/Zoilo/Google.</p>
				</div>
			</div>
			<div class="col-12 links" align="center">
				links:<br>
				<a href="https://medium.com/@zmercedes/vr-moonlit-puzzler-experience-6406b983f76b" target="_blank">
			  		<img src="static/medium-black.png" alt="medium" title="Medium" width="42" height="42">
				</a>
				<a href="https://www.youtube.com/watch?v=7Xddkbt8_HM" target="_blank">
			  		<img src="static/youtube-black.png" alt="youtube" title="Youtube" width="42" height="42">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-12 col-lg-6">
		<div class="alert alert-secondary" role="alert">
			<div class="row justify-content-center">
				<img src="static/TVR.jpg" class="project" alt="TVR" title="Scene from project" width="150" height="150">
				<div class="col-12 col-md-7">
					<h5>Therapeutic VR</h5>
					<p>Created a VR experience to showcase the uses of VR as a therapeutic tool. Project made as part of Udacity VR Nanodegree using Unity3D and Google VR. All assets used were obtained from the internet or the Unity Asset Store. Designed by Zoilo. Programming by Zoilo/Google.</p>
				</div>
			</div>
			<div class="col-12 links" align="center">
				links:<br>
				<a href="https://medium.com/@zmercedes/night-sunset-at-the-museum-a51a3cdac1ad" target="_blank">
			  		<img src="static/medium-black.png" alt="medium" title="Medium" width="42" height="42">
				</a>
				<a href="https://www.youtube.com/watch?v=YIE9tEXERDw" target="_blank">
			  		<img src="static/youtube-black.png" alt="youtube" title="Youtube" width="42" height="42">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-12 col-lg-6">
		<div class="alert alert-secondary" role="alert">
			<div class="row justify-content-center">
				<img src="static/kitty.png" class="project" alt="kitty" title="in-game shot" width="150" height="150">
				<div class="col-12 col-md-7">
					<h5>Kitty Game (working title)</h5>
					<p>On-going project to create a mobile game using Unity2D and C#. Video demo coming soon. Assets used obtained from the internet or the Unity Asset Store. Design/Programming by Zoilo.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-12 col-lg-6">
		<div class="alert alert-secondary" role="alert">
			<div class="row justify-content-center">
				<img src="static/dragonbg.png" class="project" alt="dragon" title="tiled dragon curve" width="150" height="150">
				<div class="col-12 col-md-7">
					<h5>zoilo.me</h5>
					<p>Website created using Python3.6 and Django 1.11 for the backend and Bootstrap 4 in the front end. Deployed to AWS elastic beanstalk. Background animation "tiled dragon curve" created using Python turtle to draw, and Adobe Photoshop to create video animation. Design/programming by Zoilo. All assets used were created by Zoilo.</p>
				</div>
			</div>
			<div class="col-12 links" align="center">
				links:<br>
				<a href="https://github.com/zmercedes/mywebsite" target="_blank">
			  		<img src="static/github-black.png" alt="github" title="GitHub" width="42" height="42">
				</a>
			</div>
		</div>
	</div>
</div>