<div class="row justify-content-center">
	<div class="col-9" align="center">
		<h1>Projects</h1>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-6">
		<div class="alert alert-secondary project" role="alert" style="min-height: 200px">
			<p>VR Puzzler</p>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-6">
		<div class="alert alert-secondary project" role="alert" style="min-height: 200px">
			<p>Therapeutic VR</p>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-6">
		<div class="alert alert-secondary project" role="alert" style="min-height: 200px">
			<p>Kitty Game (working title)</p>
		</div>
	</div>
</div>