<div class="row justify-content-center">
	<div class="col-9" align="center">
		<h1>Projects</h1>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-6">
		<div class="alert alert-secondary project" role="alert" style="min-height: 200px">
			<p>project 1</p>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-6">
		<div class="alert alert-secondary project" role="alert" style="min-height: 200px">
			<p>project 2</p>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-6">
		<div class="alert alert-secondary project" role="alert" style="min-height: 200px">
			<p>Project 3</p>
		</div>
	</div>
</div>