body {
	background-image: url(/static/dragonbg.png)
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000000;
}
video {
	display: block;
}
.video-container {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: -470px;
  right: 0;
  z-index: -100;
}
#video-bg {
  position: relative;
  width: auto;
  min-width: 100%;
  height: auto;
  background-size: cover;
}