/*****************************************
 * Zoilo Mercedes
 * page.css
 *
 *****************************************
 *
 * 100vh = 100% of viewport height
 */
section {
	display: block;
	min-height: 100vh;
	padding-top: 60px;
}
video {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
  	transform: translate(-50%,-50%);
  	width: auto;
  	height: 200vh;
	z-index: -1;
}
img {
    border-radius: 10%;
}
p {
	text-align: justify;
	padding: 5px;
}
h5 {
	text-align: center;
}
.video-container {
	background-color: #000;
  	position: fixed;
  	top: 0px;
  	left: 0px;
  	bottom: 0px;
  	right: 0px;
    width: auto;
    height: 101vh;
    z-index: -100;
    overflow: hidden;
}
img.project {
	margin: 10px;
}
div.transbox {
  background-color: rgba(0, 0, 0, 0.6);
  width: 200;
  border-radius: 8px;
}
div.links{
	padding: 5px 5px;
}
#projects {
	background-color: rgba(255, 255, 255, 0.75);
}
#about {
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
}
#home {
	color: #fff;
	padding-top: 20%;
}

