/*****************************************
 * Zoilo Mercedes
 * page.css
 *
 *****************************************
 *
 * 100vh = 100% of viewport height
 */
section {
	display: block;
	min-height: 100vh;
	padding: 60px 15px;
}
video {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	min-height: 50%;
	min-width: 50%;
}
img {
    border-radius: 10%;
}
.video-container {
  	position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -100;
}
div.transbox {
  background-color: rgba(0, 0, 0, 0.6);
  width: 200;
  border-radius: 8px;
}
div.links{
	padding: 5px 5px;
}
#projects {
	background-color: rgba(255, 255, 255, 0.8);
}
#about {
	background-color: rgba(0, 0, 0, 0.8);;
	color: #fff;
}
